
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sublime Cover Bandits -- Lots</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">  
    </head>
    
    <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a href="#" class="navbar-brand">Sublime Cover Bandits</a>
    <ul class="navbar-nav mr-auto">
       <li class="nav-item"><a href="{{url_for('home')}}" class="nav-link">Home</a></li>
             <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Portfolios</a>
                     <div class="dropdown-menu">
                        <a href="{{url_for('folk')}}" class="dropdown-item">Folk</a>
                        <a href="{{url_for('coop')}}" class="dropdown-item">Coop</a>
                        <a href="{{url_for('lots')}}" class="dropdown-item">Lots</a>
                     </div>
          </li>
           <li class="nav-item"><a href="{{url_for('login')}}" class="nav-link">Login</a></li>
    </ul>
</nav>
    
       <div class="row justify-content-center align-items-center row-cols-2">
        <div class="col-lg-4">
        <div class="card">
    <img src="static/images/lots2.jpg" class= "" width= auto, height=auto>
    <div class="card-img-overlay text-white d-flex justify-content-center align-items-start">
      <h1> Lots' Portfolio  <br/>
        @Matthew_lots </h1>
    </div>
</div></div>
 <div class="col-lg-4">

 <img src="static/images/lots3.jpg" class= "" width= "600", height=auto>
 </div>
  <div class="col-lg-4">

 <img src="static/images/lots4.jpg" class= "" width= "600", height=auto>
 </div>
</div>
    
    <div class=container>
     <h2 style="text-align : center; padding-top: 65px; border-bottom: 1px solid grey"> Folders </h2>
    <div class="row justify-content-center">
    {% for folder in folders %}
    <div class="col">
    <a href="{{url_for('lotsrepo', var=folder)}}">
<i id="boot-icon" class="bi-images" style="font-size: 100px; text-align:center; color: rgb(0, 0, 0);"></i>
    </a>
    <h4>{{folder}}</h4>
    </div>
    
    {% endfor %}
    </div>
    </div>
    
    </body>
